Authlib==1.0.1
aiosmtplib==1.1.6
beanie==1.10.8
boto3==1.23.10
fastapi==0.75.1
motor==2.5.1
python-multipart==0.0.5
python-socketio==5.5.2
python-dotenv==0.20.0
reactivex==4.0.0
passlib[bcrypt]
uvicorn[standard]
gunicorn