<!DOCTYPE html>
<html lang="es">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', path='images/om-logo.svg') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    {% block head %}
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    {% endblock %}
</head>

<body>
    <main id="content">
        {% block content %}{% endblock %}
    </main>
    <noscript class="no__script">
        <div class="no__script__container">
            <img class="content__image" src="assets/images/disconnected.png"
                alt="Demonstrative disabled javascript picture" />
            <div class="content">
                <h1 class="title">Con&eacute;ctate con nosotros</h1>
                <p class="description">
                    Para que nuestra aplicaci&oacute;n funcione correctamente y
                    podamos brindarte la mejor experiencia, es necesario que habilites
                    la ejecuci&oacute;n de Javascript en tu navegador.
                </p>
            </div>
        </div>
    </noscript>
    <script src="{{ url_for('static', path='js/main.js') }}"></script>
</body>

</html>